{% extends 'partials/fullcalendar.html.twig' %}
{% block content %}
  <div class="content events">
    <!-- <a class="togglehide" data-target="#calendar" href="#"><h2>Voir le calendrier</h2></a> -->
{{parent()}}
</div>
{% endblock %}
