/*********************/
/*    BREAKPOINTS    */
/*********************/
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Containers */
.container {
  margin-left: auto;
  margin-right: auto; }

.container.\31 25\25 {
  width: 100%;
  max-width: 1750px;
  min-width: 1400px; }

.container.\37 5\25 {
  width: 1050px; }

.container.\35 0\25 {
  width: 700px; }

.container.\32 5\25 {
  width: 350px; }

.container {
  width: 1400px; }

@media screen and (max-width: 1680px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 1500px;
    min-width: 1200px; }

  .container.\37 5\25 {
    width: 900px; }

  .container.\35 0\25 {
    width: 600px; }

  .container.\32 5\25 {
    width: 300px; }

  .container {
    width: 1200px; } }
@media screen and (max-width: 1280px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%; }

  .container.\37 5\25 {
    width: 75%; }

  .container.\35 0\25 {
    width: 50%; }

  .container.\32 5\25 {
    width: 25%; }

  .container {
    width: 100%; } }
@media screen and (max-width: 1024px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%; }

  .container.\37 5\25 {
    width: 75%; }

  .container.\35 0\25 {
    width: 50%; }

  .container.\32 5\25 {
    width: 25%; }

  .container {
    width: 100%; } }
@media screen and (max-width: 980px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%; }

  .container.\37 5\25 {
    width: 75%; }

  .container.\35 0\25 {
    width: 50%; }

  .container.\32 5\25 {
    width: 25%; }

  .container {
    width: 100%; } }
@media screen and (max-width: 840px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 118.75%;
    min-width: 95%; }

  .container.\37 5\25 {
    width: 71.25%; }

  .container.\35 0\25 {
    width: 47.5%; }

  .container.\32 5\25 {
    width: 23.75%; }

  .container {
    width: 95% !important; } }
@media screen and (max-width: 768px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%; }

  .container.\37 5\25 {
    width: 75%; }

  .container.\35 0\25 {
    width: 50%; }

  .container.\32 5\25 {
    width: 25%; }

  .container {
    width: 100% !important; } }
@media screen and (max-width: 600px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%; }

  .container.\37 5\25 {
    width: 75%; }

  .container.\35 0\25 {
    width: 50%; }

  .container.\32 5\25 {
    width: 25%; }

  .container {
    width: 100% !important; } }
@media screen and (max-width: 480px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%; }

  .container.\37 5\25 {
    width: 75%; }

  .container.\35 0\25 {
    width: 50%; }

  .container.\32 5\25 {
    width: 25%; }

  .container {
    width: 100% !important; } }
/* Grid */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0; }

.row.uniform > * > :first-child {
  margin-top: 0; }

.row.uniform > * > :last-child {
  margin-bottom: 0; }

.row.\30 \25  > * {
  padding: 0px 0 0 0px; }

.row.\30 \25 {
  margin: 0px 0 -1px 0px; }

.row.uniform.\30 \25  > * {
  padding: 0px 0 0 0px; }

.row.uniform.\30 \25 {
  margin: 0px 0 -1px 0px; }

.row > * {
  padding: 50px 0 0 50px; }

.row {
  margin: -50px 0 -1px -50px; }

.row.uniform > * {
  padding: 50px 0 0 50px; }

.row.uniform {
  margin: -50px 0 -1px -50px; }

.row.\32 00\25  > * {
  padding: 100px 0 0 100px; }

.row.\32 00\25 {
  margin: -100px 0 -1px -100px; }

.row.uniform.\32 00\25  > * {
  padding: 100px 0 0 100px; }

.row.uniform.\32 00\25 {
  margin: -100px 0 -1px -100px; }

.row.\31 50\25  > * {
  padding: 75px 0 0 75px; }

.row.\31 50\25 {
  margin: -75px 0 -1px -75px; }

.row.uniform.\31 50\25  > * {
  padding: 75px 0 0 75px; }

.row.uniform.\31 50\25 {
  margin: -75px 0 -1px -75px; }

.row.\35 0\25  > * {
  padding: 25px 0 0 25px; }

.row.\35 0\25 {
  margin: -25px 0 -1px -25px; }

.row.uniform.\35 0\25  > * {
  padding: 25px 0 0 25px; }

.row.uniform.\35 0\25 {
  margin: -25px 0 -1px -25px; }

.row.\32 5\25  > * {
  padding: 12.5px 0 0 12.5px; }

.row.\32 5\25 {
  margin: -12.5px 0 -1px -12.5px; }

.row.uniform.\32 5\25  > * {
  padding: 12.5px 0 0 12.5px; }

.row.uniform.\32 5\25 {
  margin: -12.5px 0 -1px -12.5px; }

.\31 2u, .\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0; }

.\31 1u, .\31 1u\24 {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 0u, .\31 0u\24 {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0; }

.\39 u, .\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0; }

.\38 u, .\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0; }

.\37 u, .\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0; }

.\36 u, .\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0; }

.\35 u, .\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0; }

.\34 u, .\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0; }

.\33 u, .\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0; }

.\32 u, .\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 u, .\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0; }

.\31 2u\24  + *,
.\31 1u\24  + *,
.\31 0u\24  + *,
.\39 u\24  + *,
.\38 u\24  + *,
.\37 u\24  + *,
.\36 u\24  + *,
.\35 u\24  + *,
.\34 u\24  + *,
.\33 u\24  + *,
.\32 u\24  + *,
.\31 u\24  + * {
  clear: left; }

.\-11u {
  margin-left: 91.66667%; }

.\-10u {
  margin-left: 83.33333%; }

.\-9u {
  margin-left: 75%; }

.\-8u {
  margin-left: 66.66667%; }

.\-7u {
  margin-left: 58.33333%; }

.\-6u {
  margin-left: 50%; }

.\-5u {
  margin-left: 41.66667%; }

.\-4u {
  margin-left: 33.33333%; }

.\-3u {
  margin-left: 25%; }

.\-2u {
  margin-left: 16.66667%; }

.\-1u {
  margin-left: 8.33333%; }

@media screen and (max-width: 1680px) {
  .row > * {
    padding: 40px 0 0 40px; }

  .row {
    margin: -40px 0 -1px -40px; }

  .row.uniform > * {
    padding: 40px 0 0 40px; }

  .row.uniform {
    margin: -40px 0 -1px -40px; }

  .row.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.uniform.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.uniform.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .\31 2u\28wide\29, .\31 2u\24\28wide\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28wide\29, .\31 1u\24\28wide\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28wide\29, .\31 0u\24\28wide\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28wide\29, .\39 u\24\28wide\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28wide\29, .\38 u\24\28wide\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28wide\29, .\37 u\24\28wide\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28wide\29, .\36 u\24\28wide\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28wide\29, .\35 u\24\28wide\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28wide\29, .\34 u\24\28wide\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28wide\29, .\33 u\24\28wide\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28wide\29, .\32 u\24\28wide\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28wide\29, .\31 u\24\28wide\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28wide\29  + *,
  .\31 1u\24\28wide\29  + *,
  .\31 0u\24\28wide\29  + *,
  .\39 u\24\28wide\29  + *,
  .\38 u\24\28wide\29  + *,
  .\37 u\24\28wide\29  + *,
  .\36 u\24\28wide\29  + *,
  .\35 u\24\28wide\29  + *,
  .\34 u\24\28wide\29  + *,
  .\33 u\24\28wide\29  + *,
  .\32 u\24\28wide\29  + *,
  .\31 u\24\28wide\29  + * {
    clear: left; }

  .\-11u\28wide\29 {
    margin-left: 91.66667%; }

  .\-10u\28wide\29 {
    margin-left: 83.33333%; }

  .\-9u\28wide\29 {
    margin-left: 75%; }

  .\-8u\28wide\29 {
    margin-left: 66.66667%; }

  .\-7u\28wide\29 {
    margin-left: 58.33333%; }

  .\-6u\28wide\29 {
    margin-left: 50%; }

  .\-5u\28wide\29 {
    margin-left: 41.66667%; }

  .\-4u\28wide\29 {
    margin-left: 33.33333%; }

  .\-3u\28wide\29 {
    margin-left: 25%; }

  .\-2u\28wide\29 {
    margin-left: 16.66667%; }

  .\-1u\28wide\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 1280px) {
  .row > * {
    padding: 40px 0 0 40px; }

  .row {
    margin: -40px 0 -1px -40px; }

  .row.uniform > * {
    padding: 40px 0 0 40px; }

  .row.uniform {
    margin: -40px 0 -1px -40px; }

  .row.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.uniform.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.uniform.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .\31 2u\28normal\29, .\31 2u\24\28normal\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28normal\29, .\31 1u\24\28normal\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28normal\29, .\31 0u\24\28normal\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28normal\29, .\39 u\24\28normal\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28normal\29, .\38 u\24\28normal\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28normal\29, .\37 u\24\28normal\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28normal\29, .\36 u\24\28normal\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28normal\29, .\35 u\24\28normal\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28normal\29, .\34 u\24\28normal\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28normal\29, .\33 u\24\28normal\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28normal\29, .\32 u\24\28normal\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28normal\29, .\31 u\24\28normal\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28normal\29  + *,
  .\31 1u\24\28normal\29  + *,
  .\31 0u\24\28normal\29  + *,
  .\39 u\24\28normal\29  + *,
  .\38 u\24\28normal\29  + *,
  .\37 u\24\28normal\29  + *,
  .\36 u\24\28normal\29  + *,
  .\35 u\24\28normal\29  + *,
  .\34 u\24\28normal\29  + *,
  .\33 u\24\28normal\29  + *,
  .\32 u\24\28normal\29  + *,
  .\31 u\24\28normal\29  + * {
    clear: left; }

  .\-11u\28normal\29 {
    margin-left: 91.66667%; }

  .\-10u\28normal\29 {
    margin-left: 83.33333%; }

  .\-9u\28normal\29 {
    margin-left: 75%; }

  .\-8u\28normal\29 {
    margin-left: 66.66667%; }

  .\-7u\28normal\29 {
    margin-left: 58.33333%; }

  .\-6u\28normal\29 {
    margin-left: 50%; }

  .\-5u\28normal\29 {
    margin-left: 41.66667%; }

  .\-4u\28normal\29 {
    margin-left: 33.33333%; }

  .\-3u\28normal\29 {
    margin-left: 25%; }

  .\-2u\28normal\29 {
    margin-left: 16.66667%; }

  .\-1u\28normal\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 1024px) {
  .row > * {
    padding: 40px 0 0 40px; }

  .row {
    margin: -40px 0 -1px -40px; }

  .row.uniform > * {
    padding: 40px 0 0 40px; }

  .row.uniform {
    margin: -40px 0 -1px -40px; }

  .row.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.uniform.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.uniform.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .\31 2u\28middle\29, .\31 2u\24\28middle\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28middle\29, .\31 1u\24\28middle\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28middle\29, .\31 0u\24\28middle\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28middle\29, .\39 u\24\28middle\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28middle\29, .\38 u\24\28middle\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28middle\29, .\37 u\24\28middle\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28middle\29, .\36 u\24\28middle\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28middle\29, .\35 u\24\28middle\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28middle\29, .\34 u\24\28middle\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28middle\29, .\33 u\24\28middle\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28middle\29, .\32 u\24\28middle\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28middle\29, .\31 u\24\28middle\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28middle\29  + *,
  .\31 1u\24\28middle\29  + *,
  .\31 0u\24\28middle\29  + *,
  .\39 u\24\28middle\29  + *,
  .\38 u\24\28middle\29  + *,
  .\37 u\24\28middle\29  + *,
  .\36 u\24\28middle\29  + *,
  .\35 u\24\28middle\29  + *,
  .\34 u\24\28middle\29  + *,
  .\33 u\24\28middle\29  + *,
  .\32 u\24\28middle\29  + *,
  .\31 u\24\28middle\29  + * {
    clear: left; }

  .\-11u\28middle\29 {
    margin-left: 91.66667%; }

  .\-10u\28middle\29 {
    margin-left: 83.33333%; }

  .\-9u\28middle\29 {
    margin-left: 75%; }

  .\-8u\28middle\29 {
    margin-left: 66.66667%; }

  .\-7u\28middle\29 {
    margin-left: 58.33333%; }

  .\-6u\28middle\29 {
    margin-left: 50%; }

  .\-5u\28middle\29 {
    margin-left: 41.66667%; }

  .\-4u\28middle\29 {
    margin-left: 33.33333%; }

  .\-3u\28middle\29 {
    margin-left: 25%; }

  .\-2u\28middle\29 {
    margin-left: 16.66667%; }

  .\-1u\28middle\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 980px) {
  .row > * {
    padding: 30px 0 0 30px; }

  .row {
    margin: -30px 0 -1px -30px; }

  .row.uniform > * {
    padding: 30px 0 0 30px; }

  .row.uniform {
    margin: -30px 0 -1px -30px; }

  .row.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.uniform.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.uniform.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.uniform.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.uniform.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .row.uniform.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.uniform.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .\31 2u\28narrow\29, .\31 2u\24\28narrow\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28narrow\29, .\31 1u\24\28narrow\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28narrow\29, .\31 0u\24\28narrow\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28narrow\29, .\39 u\24\28narrow\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28narrow\29, .\38 u\24\28narrow\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28narrow\29, .\37 u\24\28narrow\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28narrow\29, .\36 u\24\28narrow\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28narrow\29, .\35 u\24\28narrow\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28narrow\29, .\34 u\24\28narrow\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28narrow\29, .\33 u\24\28narrow\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28narrow\29, .\32 u\24\28narrow\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28narrow\29, .\31 u\24\28narrow\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28narrow\29  + *,
  .\31 1u\24\28narrow\29  + *,
  .\31 0u\24\28narrow\29  + *,
  .\39 u\24\28narrow\29  + *,
  .\38 u\24\28narrow\29  + *,
  .\37 u\24\28narrow\29  + *,
  .\36 u\24\28narrow\29  + *,
  .\35 u\24\28narrow\29  + *,
  .\34 u\24\28narrow\29  + *,
  .\33 u\24\28narrow\29  + *,
  .\32 u\24\28narrow\29  + *,
  .\31 u\24\28narrow\29  + * {
    clear: left; }

  .\-11u\28narrow\29 {
    margin-left: 91.66667%; }

  .\-10u\28narrow\29 {
    margin-left: 83.33333%; }

  .\-9u\28narrow\29 {
    margin-left: 75%; }

  .\-8u\28narrow\29 {
    margin-left: 66.66667%; }

  .\-7u\28narrow\29 {
    margin-left: 58.33333%; }

  .\-6u\28narrow\29 {
    margin-left: 50%; }

  .\-5u\28narrow\29 {
    margin-left: 41.66667%; }

  .\-4u\28narrow\29 {
    margin-left: 33.33333%; }

  .\-3u\28narrow\29 {
    margin-left: 25%; }

  .\-2u\28narrow\29 {
    margin-left: 16.66667%; }

  .\-1u\28narrow\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 840px) {
  .row > * {
    padding: 30px 0 0 30px; }

  .row {
    margin: -30px 0 -1px -30px; }

  .row.uniform > * {
    padding: 30px 0 0 30px; }

  .row.uniform {
    margin: -30px 0 -1px -30px; }

  .row.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.uniform.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.uniform.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.uniform.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.uniform.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .row.uniform.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.uniform.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .\31 2u\28narrower\29, .\31 2u\24\28narrower\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28narrower\29, .\31 1u\24\28narrower\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28narrower\29, .\31 0u\24\28narrower\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28narrower\29, .\39 u\24\28narrower\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28narrower\29, .\38 u\24\28narrower\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28narrower\29, .\37 u\24\28narrower\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28narrower\29, .\36 u\24\28narrower\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28narrower\29, .\35 u\24\28narrower\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28narrower\29, .\34 u\24\28narrower\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28narrower\29, .\33 u\24\28narrower\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28narrower\29, .\32 u\24\28narrower\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28narrower\29, .\31 u\24\28narrower\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28narrower\29  + *,
  .\31 1u\24\28narrower\29  + *,
  .\31 0u\24\28narrower\29  + *,
  .\39 u\24\28narrower\29  + *,
  .\38 u\24\28narrower\29  + *,
  .\37 u\24\28narrower\29  + *,
  .\36 u\24\28narrower\29  + *,
  .\35 u\24\28narrower\29  + *,
  .\34 u\24\28narrower\29  + *,
  .\33 u\24\28narrower\29  + *,
  .\32 u\24\28narrower\29  + *,
  .\31 u\24\28narrower\29  + * {
    clear: left; }

  .\-11u\28narrower\29 {
    margin-left: 91.66667%; }

  .\-10u\28narrower\29 {
    margin-left: 83.33333%; }

  .\-9u\28narrower\29 {
    margin-left: 75%; }

  .\-8u\28narrower\29 {
    margin-left: 66.66667%; }

  .\-7u\28narrower\29 {
    margin-left: 58.33333%; }

  .\-6u\28narrower\29 {
    margin-left: 50%; }

  .\-5u\28narrower\29 {
    margin-left: 41.66667%; }

  .\-4u\28narrower\29 {
    margin-left: 33.33333%; }

  .\-3u\28narrower\29 {
    margin-left: 25%; }

  .\-2u\28narrower\29 {
    margin-left: 16.66667%; }

  .\-1u\28narrower\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 768px) {
  .row > * {
    padding: 30px 0 0 30px; }

  .row {
    margin: -30px 0 -1px -30px; }

  .row.uniform > * {
    padding: 30px 0 0 30px; }

  .row.uniform {
    margin: -30px 0 -1px -30px; }

  .row.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.uniform.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.uniform.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.uniform.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.uniform.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .row.uniform.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.uniform.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28mobile\29, .\39 u\24\28mobile\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28mobile\29, .\38 u\24\28mobile\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28mobile\29, .\37 u\24\28mobile\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28mobile\29, .\36 u\24\28mobile\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28mobile\29, .\35 u\24\28mobile\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28mobile\29, .\34 u\24\28mobile\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28mobile\29, .\33 u\24\28mobile\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28mobile\29, .\32 u\24\28mobile\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28mobile\29, .\31 u\24\28mobile\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28mobile\29  + *,
  .\31 1u\24\28mobile\29  + *,
  .\31 0u\24\28mobile\29  + *,
  .\39 u\24\28mobile\29  + *,
  .\38 u\24\28mobile\29  + *,
  .\37 u\24\28mobile\29  + *,
  .\36 u\24\28mobile\29  + *,
  .\35 u\24\28mobile\29  + *,
  .\34 u\24\28mobile\29  + *,
  .\33 u\24\28mobile\29  + *,
  .\32 u\24\28mobile\29  + *,
  .\31 u\24\28mobile\29  + * {
    clear: left; }

  .\-11u\28mobile\29 {
    margin-left: 91.66667%; }

  .\-10u\28mobile\29 {
    margin-left: 83.33333%; }

  .\-9u\28mobile\29 {
    margin-left: 75%; }

  .\-8u\28mobile\29 {
    margin-left: 66.66667%; }

  .\-7u\28mobile\29 {
    margin-left: 58.33333%; }

  .\-6u\28mobile\29 {
    margin-left: 50%; }

  .\-5u\28mobile\29 {
    margin-left: 41.66667%; }

  .\-4u\28mobile\29 {
    margin-left: 33.33333%; }

  .\-3u\28mobile\29 {
    margin-left: 25%; }

  .\-2u\28mobile\29 {
    margin-left: 16.66667%; }

  .\-1u\28mobile\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 600px) {
  .row > * {
    padding: 30px 0 0 30px; }

  .row {
    margin: -30px 0 -1px -30px; }

  .row.uniform > * {
    padding: 30px 0 0 30px; }

  .row.uniform {
    margin: -30px 0 -1px -30px; }

  .row.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.uniform.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.uniform.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.uniform.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.uniform.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .row.uniform.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.uniform.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .\31 2u\28small\29, .\31 2u\24\28small\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28small\29, .\31 1u\24\28small\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28small\29, .\31 0u\24\28small\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28small\29, .\39 u\24\28small\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28small\29, .\38 u\24\28small\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28small\29, .\37 u\24\28small\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28small\29, .\36 u\24\28small\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28small\29, .\35 u\24\28small\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28small\29, .\34 u\24\28small\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28small\29, .\33 u\24\28small\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28small\29, .\32 u\24\28small\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28small\29, .\31 u\24\28small\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28small\29  + *,
  .\31 1u\24\28small\29  + *,
  .\31 0u\24\28small\29  + *,
  .\39 u\24\28small\29  + *,
  .\38 u\24\28small\29  + *,
  .\37 u\24\28small\29  + *,
  .\36 u\24\28small\29  + *,
  .\35 u\24\28small\29  + *,
  .\34 u\24\28small\29  + *,
  .\33 u\24\28small\29  + *,
  .\32 u\24\28small\29  + *,
  .\31 u\24\28small\29  + * {
    clear: left; }

  .\-11u\28small\29 {
    margin-left: 91.66667%; }

  .\-10u\28small\29 {
    margin-left: 83.33333%; }

  .\-9u\28small\29 {
    margin-left: 75%; }

  .\-8u\28small\29 {
    margin-left: 66.66667%; }

  .\-7u\28small\29 {
    margin-left: 58.33333%; }

  .\-6u\28small\29 {
    margin-left: 50%; }

  .\-5u\28small\29 {
    margin-left: 41.66667%; }

  .\-4u\28small\29 {
    margin-left: 33.33333%; }

  .\-3u\28small\29 {
    margin-left: 25%; }

  .\-2u\28small\29 {
    margin-left: 16.66667%; }

  .\-1u\28small\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 480px) {
  .row > * {
    padding: 30px 0 0 30px; }

  .row {
    margin: -30px 0 -1px -30px; }

  .row.uniform > * {
    padding: 30px 0 0 30px; }

  .row.uniform {
    margin: -30px 0 -1px -30px; }

  .row.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.uniform.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.uniform.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.uniform.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.uniform.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .row.uniform.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.uniform.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28xsmall\29  + *,
  .\31 1u\24\28xsmall\29  + *,
  .\31 0u\24\28xsmall\29  + *,
  .\39 u\24\28xsmall\29  + *,
  .\38 u\24\28xsmall\29  + *,
  .\37 u\24\28xsmall\29  + *,
  .\36 u\24\28xsmall\29  + *,
  .\35 u\24\28xsmall\29  + *,
  .\34 u\24\28xsmall\29  + *,
  .\33 u\24\28xsmall\29  + *,
  .\32 u\24\28xsmall\29  + *,
  .\31 u\24\28xsmall\29  + * {
    clear: left; }

  .\-11u\28xsmall\29 {
    margin-left: 91.66667%; }

  .\-10u\28xsmall\29 {
    margin-left: 83.33333%; }

  .\-9u\28xsmall\29 {
    margin-left: 75%; }

  .\-8u\28xsmall\29 {
    margin-left: 66.66667%; }

  .\-7u\28xsmall\29 {
    margin-left: 58.33333%; }

  .\-6u\28xsmall\29 {
    margin-left: 50%; }

  .\-5u\28xsmall\29 {
    margin-left: 41.66667%; }

  .\-4u\28xsmall\29 {
    margin-left: 33.33333%; }

  .\-3u\28xsmall\29 {
    margin-left: 25%; }

  .\-2u\28xsmall\29 {
    margin-left: 16.66667%; }

  .\-1u\28xsmall\29 {
    margin-left: 8.33333%; } }
/********************/
/*      MACRO       */
/********************/
/********************/
/*      MIXINS      */
/********************/
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody,
.fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content,
.fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
  border-color: white !important; }

.fc td.fc-today {
  background-color: inherit !important; }

.fc .fc-list-sticky .fc-list-day > * {
  background-color: inherit !important; }

.fc-direction-ltr .fc-list-table .fc-list-event-graphic {
  padding-right: 4px !important;
  padding-left: 4px; }

.fc-list-day {
  background-color: inherit; }

.content.events {
  padding: 10px; }
  .content.events h2 {
    text-align: left; }
    @media screen and (max-width: 980px) {
      .content.events h2 {
        text-align: center; } }
  .content.events #legend ul li span {
    margin: 0 10px 0 10px; }
  .content.events #legend ul li a {
    margin: 0 10px 0 10px; }
  .content.events #calendar {
    overflow: hidden;
    display: block;
    margin: 10px; }
    .content.events #calendar .fc-dayGrid-view .fc-week-number, .content.events #calendar .fc-dayGrid-view .fc-day-number {
      padding: 10px; }
    .content.events #calendar .fc-unthemed td.fc-today {
      background: grey; }
    .content.events #calendar th.fc-day-header {
      height: 20px;
      padding-top: 8px; }
      @media screen and (max-width: 980px) {
        .content.events #calendar th.fc-day-header {
          line-height: 1em; } }
    .content.events #calendar .fc-button-primary {
      background-color: grey;
      color: white; }
      @media screen and (max-width: 980px) {
        .content.events #calendar .fc-button-primary {
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left: auto;
          margin-right: auto; } }
    .content.events #calendar .fc-toolbar.fc-header-toolbar {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      @media screen and (max-width: 980px) {
        .content.events #calendar .fc-toolbar.fc-header-toolbar {
          text-align: center; } }
      @media screen and (max-width: 980px) {
        .content.events #calendar .fc-toolbar.fc-header-toolbar .fc-left {
          width: 90%;
          margin-left: auto;
          margin-right: auto; } }
      @media screen and (max-width: 980px) {
        .content.events #calendar .fc-toolbar.fc-header-toolbar .fc-right {
          width: 90%;
          margin-left: auto;
          margin-right: auto; } }
      @media screen and (max-width: 980px) {
        .content.events #calendar .fc-toolbar.fc-header-toolbar .fc-center {
          width: 100%; } }

/*
 * #calendar .fc-time {
  display:inline-block;
}*/

/*# sourceMappingURL=main.css.map */
