body {
	padding: 0;
}
#actMonth img {
	padding: 0 0 2rem 0;
}
#calendar {
	font-size: large;	/*	14px;	*/
	margin: 0 auto;
	line-height: 0.5em;
}
#calendar .fc-time {
	display: none;
}
#calendar .fc-day-grid-container {
	height: 100%!important;
}
/* Anpassungen 09.07.19:	*/
#calendar .fc-title {
	color: white;
}
#calendar .fc-scroller {
	overflow: hidden!important;
}
