body {
	padding: 0;
}
#actMonth img {
	padding: 0 0 2rem 0;
}
#calendar {
	font-size: large;	/*	14px;	*/
	margin: 0 auto;
	line-height: 0.5em;
}
/* this is now deprecated - see fullcalendar.html.twig
#calendar .fc-time {
	display: none;
}
*/
#calendar .fc-day-grid-container {
	height: 100%!important;
}
/* Anpassungen 09.07.19:	*/
#calendar .fc-title {
	color: white;
}
#calendar .fc-scroller {
	overflow: hidden!important;
}
/* style new week-number class 14.02.20	*/
#calendar .fc-dayGrid-view td.fc-week-number {
	padding-top: 1em;
}
/* see https://stackoverflow.com/questions/25272132/multiline-titles-in-fullcalendar-2-1-0-beta1-2-in-day-grid	*/
#calendar .fc-day-grid-event > .fc-content {
	white-space: normal;
}
