{% extends 'default.html.twig' %}
{% block content %}
  <div class="content events">
  <div class="container">
    <div id='actMonth'></div>
    <div id='calendar'></div>
    <div id='legend'></div>
  </div>
</div>
{% endblock %}
